# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log

# Application config nhạy cảm (nếu có)
src/main/resources/application-prod.yml
src/main/resources/application-secret.yml

# OS
.DS_Store
Thumbs.db